.marquee-container{
    width:"100%";
    overflow: hidden;
}

.marquee-content{
    display: flex;
    animation: marquee 10s linear infinite;
}

@keyframes marquee{
    0% {
        transform: translateX(100%);
    }
    150%{
        transform: translateX(-100%);
    }
}